name: Metrics

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest

    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: YOUR_USERNAME
          template: classic
          base: header, activity, community, repositories
          plugin_languages: yes
          plugin_isocalendar: yes
          plugin_stars: yes
